<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Project OCR</h1>
    <p>Choose an option</p>
    <div>
      <a href="/send">Send</a>
    </div>
    <div>
      <a href="/receive">Receive</a>
    </div>
  </body>
</html>
