<!DOCTYPE html>
<html>
  <head>
    <title>Receive</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  <%- include('partials/tailwind') %>
  </head>
  <body class="space-y-4 container mx-auto">
    <h1 class="text-3xl font-bold">Project OCR</h1>
    <form action="/receive" method="post" class="space-y-4 flex flex-col">
      <label for="content">Encrypted content</label>
      <textarea name="content" id="content" cols="30" rows="5" class="border "></textarea>

      <label for="key">Decryption key</label>
      <textarea name="key" id="key" cols="30" rows="5" class="border "></textarea>
      <input type="submit" value="DECRYPT"  class="block py-2 px-2 bg-blue-200 text-blue-600 w-48 rounded shadow font-bold tracking-tight"/>
    </form>

  </body>
</html>
