<!DOCTYPE html>
<html>
  <head>
    <title>Receive</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Receive a document</h1>
    <p>Not done yet</p>
  </body>
</html>
