<!DOCTYPE html>
<html>
  <head>
    <title>Send</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>RSA docs</h1>
    <p>Send a file</p>
    <form action="/send" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="file" />
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
